<!DOCTYPE html>
<html>
  <head>
    <title>HotwireReact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <h1>Hotwire react demo</h1>

    <ul>
      <li><%= link_to "Index", "/" %></li>
      <li><%= link_to "Page with react", "/with_react" %></li>
    </ul>

    <%= yield %>
  </body>
</html>
